Appium-Python-Client==0.28
dpkt==1.9.1
matplotlib==2.2.2
numpy==1.14.3
Pillow==9.0.1
PyYAML==3.12
requests>=2.20.0
TestLink-API-Python-client==0.8.0
urllib3==1.22
pytesseract==0.2.5
pypcap==1.2.2
opencv-python==3.4.3.18
xlrd==1.1.0
mysql-connector-python==8.0.13
sqlalchemy==1.2.15